@charset "UTF-8";

:root{
    --verde0:#175B17;
    --verde1:#4b9c4c;
    --azul0:#03336C;
    --azul1:#244d77;
    --amarelo0: #fcf977;
    --amarelo1:#fcfc00;
}    

*{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 , h2 , h3 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 , .logoTitulo{
    font-size: 4em;
}

.logoTitulo{
    font-weight: bolder;
    color: rgb(231, 214, 214);
    text-shadow: 4px 4px #0000007a;
}

h2{
    font-size: 1.5em;
    font-style: italic;
}

h3{
    font-size: 1.4em;
}

p{
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0em 2em;
}

body{
    background-image: linear-gradient(30deg,var(--verde0),var(--verde1));
}

header , main , footer{
    background-image: linear-gradient(90deg,var(--azul0),var(--azul1));
    min-width: 320px;
    max-width: 1200px;
    height: auto;
    margin: 0px auto;
}

picture img{
    padding: 20px;
}

#logoEsquerda,#logoCentral,#logoDireita{
    padding: 2em;
}

#logoEsquerda{
    display: inline-block;
}

#logoCentral{
    display: inline-block;
    text-align: center;
}

#logoDireita{
    display: block;
    float: right;
}

nav{
    padding-bottom: 1em;
}

nav ul{
    text-align: center;
}

nav ul li{
    display: inline-block;
    margin: 2px 6px 2px 0px;
    list-style-type: none;
    font-size: 20px;
}

nav ul li a{
    background-image: linear-gradient(180deg,var(--amarelo0),var(--amarelo1));
    color: var(--azul0);    
    text-decoration: none;
    border-radius: 500px;
    padding: 2px 8px;
}

nav ul li a:hover{
    background-image: linear-gradient(30deg,var(--verde0),var(--verde1));
    color: var(--amarelo1);
    text-decoration: none;
}

.fundo{
    background-image: linear-gradient(90deg,var(--azul0),var(--azul1));
}

.menu{
    height: 2.6em;
}

main{
    padding-bottom: 1em;
}

footer{
    display: block;
    text-align: center;
    padding-bottom: 1em;
}
#fonteRodape{
    display: inline-block;
    margin-right: 1em;
    font-size: 2em;
}

#icones{
    display: inline-block;
}


#icones a{
    display: inline-flex;
    width: 45px;
    height: 45px;
    background: var(--verde1);
    color: var(--azul1);
    margin: 0 5px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

#icones a:hover{
    background: var(--azul1);
}

.tabelasCampeonatos{
    height: auto;
}

#container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#checkbox-menu{
    position: absolute;
    opacity: 0;
}

label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30;
}

label span{
    position: absolute;
    display: block;
    height: 5px;
    width: 30px;
    border-radius: 30px;
    background: var(--amarelo0);
    transition: 0,25s ease-in-out;
}

label span:nth-child(1){
    top: 0;
}

label span:nth-child(2){
    top: 8px;
}
label span:nth-child(3){
    top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top: 8px;
}
