@charset "UTF-8";

#menuNavegacao{
    padding-bottom: 1em;
}

#menuCampeonato{
    padding: 2em 0 ;
}

#menuNavegacao ul{
    text-align: center;
}

#menuCampeonato ul{
    text-align: left;
    margin-left: 2em;
}
#menuNavegacao ul li{
    display: inline-block;
    font-size: 1.1em;
}

#menuCampeonato ul li{
    display: block;
    font-size: 1em;
}

#menuNavegacao ul li , #menuCampeonato ul li{
    list-style-type: none;
    padding-bottom: 2em;
}

#menuNavegacao ul li a{
    background-image: linear-gradient(180deg,var(--fundo0),var(--fundo1));
}

#menuCampeonato ul li a{
    background-image: linear-gradient(180deg,var(--body0),var(--body1));
}

#menuNavegacao ul li a, #menuCampeonato ul li a{
    color: var(--font);    
    text-decoration: none;
    border-radius: 500px;
    padding: 2px 8px;
}

#menuNavegacao ul li a:hover{
    background-image: linear-gradient(30deg,var(--body0),var(--body1));
}

#menuCampeonato ul li a:hover{
        background-image: linear-gradient(30deg,var(--main0),var(--main1));
}

#menuNavegacao ul li a:hover , #menuCampeonato ul li a:hover{
    color: var(--font);
    text-decoration: none;
}

