@charset "UTF-8";

:root{
    --fundo0:#175B17;
    --fundo1:#4b9c4c;
    --body0:#03336C;
    --body1:#244d77;
    --main0: #fcf977;
    --main1:#fcfc00;
}    

*{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 , h2 , h3 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 , .logoTitulo{
    font-size: 4em;
}

h2{
    font-size: 1.5em;
    font-style: italic;
}

h3{
    font-size: 1.4em;
}

p{
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0em 2em;
}

body{
    background-image: linear-gradient(30deg,var(--body0),var(--body1));
}

.btnMenuOpen{
    background-image: url(../imagem/hamburgerSair.png);
}

.btnMenuClose{
    background-color: silver;
    background-image: url(../imagem/hamburgerAzul.png);
}

