@charset "UTF-8";

@media(max-width: 1107px){
    body{
        background-image: linear-gradient(90deg,var(--main1),var(--main0));
    }

    #logoEsquerda{
        width: 80%;
        margin: .2em 2%;
    }

    #logoCentral{
        width: 80%;  
    }

    #fonteRodape{
        display: block;
        font-size: 2em;
        margin-left: 1em;
    }

    #menuNavegacao , #menuCampeonato{
        display: none;
    }

    #container{
        display: block;
    }

    .competicaoDireita{
        float: none;
        width: 100%;
    }

    .competicaoEsquerda{
        display: block;
        width: 100%;
    }

    .competicaoEsquerdaInterno{
        float: none;
        width: 100%;
    }

    .rankingEsquerda , .rankingDireita{
        display: block;
        width: 100%;
    }

    .rankingEsquerda{
        float: none;
    }
    
    .postRanking h2{
        text-align: center;
        padding-left: 1em;
    }
    
    .postRanking p {
        text-align: left;
        padding-left: 1em;
    }
    
}
