@charset "UTF-8";

@media(max-width: 530px){
    .table th:nth-child(6),.table th:nth-child(7),.table th:nth-child(11),.table td:nth-child(6),.table td:nth-child(7),table td:nth-child(11) {
        display: none;
    }

    .tabela-grupo .table th:nth-child(2),.tabela-grupo .table th:nth-child(8),.tabela-grupo .table td:nth-child(2),.tabela-grupo .table td:nth-child(8){
        display: none;
    }

    .tabela-grupo .table th:nth-child(6),.tabela-grupo .table th:nth-child(11),.tabela-grupo .table td:nth-child(6),.tabela-grupo .table td:nth-child(11){
        display: block;
    }

    .tabela-grupo .table-eliminatorio th:nth-child(1),.tabela-grupo .table-eliminatorio th:nth-child(5),.tabela-grupo .table-eliminatorio td:nth-child(1),.tabela-grupo .table-eliminatorio td:nth-child(7){
        display: none;
    }
     
    .tabela-grupo .table-eliminatorio td:nth-child(6){
        display: block;
    }

    #tabela , #noticia{
        width: 88%;
    }

    .fundoGrande{
        width: 88%;
    }

}

