@charset "UTF-8";

table{
    width: 90%;
    border: 0px solid black;
    border-collapse: separate;
    margin: 3em auto;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.575);
}

caption{
    font-weight: bolder;
    font-size: 1.5em;
    text-align: center;
    background-color: rgb(236, 236, 236);
    padding: .5em;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.575);

}

td , th{
    border: 1px;
    text-align: center;
    padding: .3em;
}

thead , th{
    background-image: linear-gradient(90deg,var(--main0),var(--main1));
}

tbody{
    background-image: linear-gradient(90deg,var(--body0),var(--body1));
}

td img{
    width: 50px;
}

.copalucfm .table-eliminatorio th:nth-child(1),.copalucfm .table-eliminatorio th:nth-child(5),.copalucfm .table-eliminatorio td:nth-child(1),.copalucfm .table-eliminatorio td:nth-child(7){
    background-color: brown;
    display: none;
}



